{% extends "dashboard/base.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Who we are</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum veritatis quos earum eius eaque debitis ipsum nulla! Nobis unde consequatur minus beatae temporibus aspernatur officiis ipsa. Ad doloribus expedita voluptatum!</p>
      <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita eos quo sit laboriosam dolores mollitia corrupti alias ipsa magnam maxime, excepturi assumenda aspernatur culpa repellendus cum? Quod, in officia. Ipsa.</p>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Vision</h1>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Mision</h1>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Contact</h1>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
          </div>
      </div>
    </div>
</div>
{% endblock content %}
